/*blog*/

#blog{

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    flex-direction: column;   
    border-bottom: 1px solid rgb(250, 240, 240);
    flex-wrap: wrap;

}

.blog-heading{
    display:grid;
    grid-template-columns:30% 70% ;
    height: 150px;
    width: 100%;
 
}
.blog-heading a:hover{

    background-color: rgb(253, 254, 254);
    text-decoration: underline;
    color: #0e0e0e;
}
.blog-heading .menu{
        height: 150px;
        padding: 50px;
}

.blog-heading h1{
    height: 150px;
    width:60%;
    color: rgb(10, 2, 19);
    font-weight: 600;
    justify-content:center;
    padding: 30px;

}
.blog-heading img{

    height:150px;
    width: 100%;
    object-fit:contain;
    opacity: 0.8;
    border-radius: 80%;
}
.container .blog-container{
    grid-area: main;
    align-items: center;
}
/* divide the body to cards*/
.blog-container{
    display: flex;
    justify-content:center ;
    align-items:center ;
    margin: 20px 0px ;
    flex-wrap:wrap;
}
