@import"./blog.css";
@import"./footer.css";
@import"./card.css";
*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
   
}
nav{
    display: inline-block;
    border-radius:30px;
   
    
}
a{
    text-decoration: none;
    border-radius: 30px;
    color: black;
    
}
ul{
    display: flex;
    gap:1em;
}
ul li{
    list-style-type: none;
    display: block;
    transition: 0.5s;
    letter-spacing: 0.5px;
    font-weight: bold;
}
ul li:hover{
    text-decoration: underline;
    background-color: #e6a9a9;
    color: aliceblue;
}
body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;

}
footer{
    text-align: center;
    padding: 3px;
    color:black;

}
/*page container*/
.container{
    background-color: rgb(249, 240, 246);
    display: grid;
    align-content: stretch;
    grid-template-areas:'header'
                        'main'
                        'foorer';

}
.container .footer{
    display: grid;
    grid-area: footer;
    align-items: stretch;
    
}

@media(max-width=1250px){

    .blog-box{
        width:300px;
    }
}
@media(max-width:1100px){
    .blog-box{
        width: 70%;
    }
}
@media(max-width:550px){
    .blog-box{
        margin: 20px 10px;
        width: 100%;
    }
    #blog{
        padding: 20px ;
        new need to check
        flex-wrap: wrap;
    }
}
