*{
    text-align:justify;
 
}
footer{
    text-align: center;
    padding: 20px;
    color:black;
    align-items: stretch;

}
#blog-post{

        text-align: justify;

}
.header{
    width: 100%;
    height: 110px;
    background-image:  url(image/h1.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: large;
    text-align: center;
    padding-top: 80px;
}
.container{
    display: grid;
    grid-template-columns:  70% 30%;
    /*grid-gap: 20px;*/
}
.main{
    border: 10px dotted #f1b2b2;    
    height: 100%;
}
.main p{
    text-align: justify;
    display: block;
    font-weight: 200;
    font-size: medium;
    text-decoration: dashed;
    padding-left: 20px;
    padding-right: 20px;
}
.main h4,h3{
    padding-left: 10px;
}
.main ul{

    padding-right: 20px;
    font-size: medium;
}
.side{ 
    display: flex;
    flex-direction:column;
    align-items:auto; 
    align-content: center;
    padding: 10px;
}

.side a:hover{
    background-color: #f1b2b2;
}
.side .bloger-info{
    text-align: left;
    margin: 60px;
    align-self:center;
    padding: 80px;
}
.side .bloger-info .avatar{
        vertical-align: middle;
        justify-content: center;
        width: 50px;
        height: 50px;
        border-radius: 50%;
}
.side .menu{
    align-self:center;
    text-align: center;
    padding: 50px;
}
.side .menu ul{
    list-style-type: none;
    color: black;
}
.side .menu ul li:hover{
    background-color: #f1b2b2;
    color: black;
}
.side .sharing{
    padding: 30px;
    align-self:center;
    text-align: center;
    margin: 50px;
    
}
.side .sharing img{
    border-radius: 50%;
    vertical-align: middle;
    align-content: center;
}
.side .sharing h5{
    padding-left: 20px;
}

.side .contact{
    align-self:center;
    text-align: center;
    padding:50px;
    margin:50px;
}
.button {
    background-color: #97a097; /* Green */
    border: none;
    margin: 30px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
  }
.button:hover{
    background-color: #f1b2b2;
  }
  
  /*
@media screen and (max-width:600px) {
    .side{
        width: 30%;
    }
    .container{
        width: 100%;
        
    }
    .main{
        width: 70%;
    }
    
}
@media screen and (max-width:1200px) {
    .container{
        width:100%;
        
    }
    .main{
        width: 70%;
    }
    .side{
        width: 30%;
    }
    
}
*/